.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
    font-weight:500;
}

input {
  margin: 8px; 
}


/* body {
  background-image: url(https://i.pinimg.com/originals/31/b7/d1/31b7d178bad3708679d0aa2b19ff1fc9.jpg);
} */

.container{
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px;
  
}

.logo{
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav navbar-nav{
  float : right;
}

.menulink{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  color: black;
  
}

.container-fluid{
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: rgb(146, 26, 26);
  font-weight: bold;
}

.navbar-default{
  margin: 0px;
  background-color: red;
}

.navbar-nav{
  float: right;
}

.navbar-default{
  max-width: 1200px;
  margin: 0 auto;
  background-color: red;
  
}

.container-new{
  max-width: 1200px;
  margin: 0 auto;
  
}

.navbar{
  border: 0px;
}

.login{
  padding :20px; 
}

td{
  background-color: yellow;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

td:hover {
  background-color: #4307a5;
  color: #000000;
}

.spacer { 
  margin:0; 
  padding:0; 
  height:50px; 
}

.VIP{
  background-color: #ff0000;
}

.clear{
  background-color: #7bff00;
}



